---
import Diploma from '@/icons/Diploma.astro'
import { languages } from '@cv'
import Section from '../Section.astro'
---

<Section title='Idiomas'>
  <ul>
    {
      languages.map(({ language, fluency, url }) => {
        return (
          <li>
            <h3>{language}</h3> - <span>{fluency}</span>
            {url && (
              <a
                href={url}
                target='_blank'
                title={`Ver diploma del idioma ${language}`}
              >
                <Diploma />
              </a>
            )}
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  li {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  h3 {
    display: inline-block;
    font-weight: 500;
    color: #111;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
  }
</style>
